@import 'fonts.scss';

// https://github.com/pmarsceill/just-the-docs/blob/master/_sass/support/_variables.scss

$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: "Mark",
sans-serif;

body {
  height: 100%;
  font-family: $bodyFont;
  font-weight: 400;
  background: $backgroundColor;
  color: $bodyColor;
  text-rendering: optimizeLegibility;
}

.nav-list .nav-list-item {
  font-size: 14px !important;

  display: inline-flex;
  border: 1px solid #e5e8ee;
  border-left: 0px;
  border-right: 0;
  padding: 10px 0;
  width: 100%;

  &::before {
    content: "📖";
    display: flex;
    align-items: center;
  }

  .nav-list-link {
    color: #132193;
  }
}

.embed-responsive {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

  /* Then style the iframe to fit in the container div with full height and width */
  &__item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
