@import url('https://fonts.googleapis.com/css?family=Space+Mono');

@font-face {
  font-family: 'Mark';
  src: url('https://res.cloudinary.com/boolean-spa/raw/upload/v1593417872/fonts/Mark-ExtraLight_o5vjx7.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Mark';
  src: url('https://res.cloudinary.com/boolean-spa/raw/upload/v1593417872/fonts/Mark-Light_g0e2xp.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Mark';
  src: url('https://res.cloudinary.com/boolean-spa/raw/upload/v1593417872/fonts/Mark-Book_h6obuy.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mark';
  src: url('https://res.cloudinary.com/boolean-spa/raw/upload/v1593417872/fonts/Mark-Medium_shkn4m.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Mark';
  src: url('https://res.cloudinary.com/boolean-spa/raw/upload/v1593417872/fonts/Mark-Bold_yknsqx.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
